<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Farmland</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>

<body style="font-family: 'Open Sans', sans-serif; background-color: #F4FFFB; margin: 0 auto; max-width: 700px;">
  <div style="padding: 20px;">
    <div style="padding: 20px 0; text-align: center;">
      <a href="#"><img src="https://flb-public.s3.ap-south-1.amazonaws.com/Farmlandlogo%281%29.png" alt="logo" width="160px" /></a>
    </div>
    <div style="padding: 0 20px;">
      <p style="font-size: 15px; text-align: left; color: #00A76F; font-weight: 600;">General Inquiry Reply</p>
      <div style="margin-bottom: 20px;">
        <p style="font-size: 12px; text-align: justify; line-height: 25px; color: #212B36; font-weight: 600;">
          Dear <%= Name %>
        </p>
        <p style="font-size: 0.9rem; text-align: justify; color: #212B36; font-weight: 400; line-height: 25px;">
          you got a reply to your inquiry
        </p>
      </div>

      <div style="border-top: 1px solid #ADE9D5; border-bottom: 1px solid #ADE9D5; padding: 10px 0; margin: 20px 0;">
        <p style="font-size: 1.1rem; font-weight: 700; text-align: justify; color: #212B36; margin-top: 10px;">Inquiry Details:</p>
        </p>
        <p style="font-size: 0.9rem; color: #212B36; font-weight: 400; margin-top: 10px; text-align: justify;">
          <strong>Reply:</strong> <%= reply %>
        </p>
        </p>
      </div>
    </div>
    <p style="font-size: 0.9rem; text-align: justify; margin: 20px; color: #212B36;">
      For further assistance or clarification, please don't hesitate to contact our support team at
      <a href="#" style="color: #00A76F; font-weight: 700; text-decoration: none;">info@farmlandbazaar.com</a>.
    </p>
    <p style="font-size: 0.9rem; text-align: justify; margin: 20px; color: #212B36;">
      We eagerly await your response!
    </p>
    <p style="font-size: 0.9rem; text-align: left; margin: 20px; color: #212B36;">
      Best Regards,<br>
      <span style="font-size: 1rem; font-weight: 600; color: #212B36;">Team Farmland Bazaar</span>
    </p>
    <div style="margin: 20px 0;">
      <div style="background-image: url('https://flb-public.s3.ap-south-1.amazonaws.com/evo-mail-banner.png'); padding: 0 20px; aspect-ratio: 16 / 2; background-size: cover; background-position: center; border-radius: 1rem; background-repeat: no-repeat;">
      </div>
    </div>
    <div style="background: #00A76F; border-top: 2px solid white; padding: 10px 20px; margin-top: 20px;">
      <p style="font-size: 1.35rem; font-weight: 600; color: white; text-align: left;">
        Farmland Bazaar
        <span style="margin-left: 15%">
          <a href="https://farmlandbazaar.com/terms" style="color: #fff; font-size: .85rem;">Terms of Service</a>
          <a href="https://farmlandbazaar.com/privacy-policy" style="color: #fff; margin: 0 1rem; font-size: .85rem;">Privacy Policy</a>
          <a href="https://www.youtube.com/channel/UCozy6ntUQTBuZI1I3IwoTCw" style="color: #fff; display: inline-block;"
            ><img
              style="width: 1.25rem; aspect-ratio: 1/1; vertical-align: middle; background-color: #00a76f;"
              src="https://flb-public.s3.ap-south-1.amazonaws.com/youtube.png"
              alt="youtube"
          /></a>
          <a href="https://www.instagram.com/farmlandbazaar/" style="color: #fff; display: inline-block;"
            ><img
              style="width: 1.1rem;  aspect-ratio: 1/1; vertical-align: middle"
              src="https://flb-public.s3.ap-south-1.amazonaws.com/instagram.png"
              alt="instagram"
          /></a>
          <a href="https://www.facebook.com/farmlandbazaar" style="color: #fff; display: inline-block;"
            ><img
              style="width: 1.115rem;  aspect-ratio: 1/1; vertical-align: middle"
              src="https://flb-public.s3.ap-south-1.amazonaws.com/facebook%281%29.png"
              alt="facebook"
          /></a>
        </span>
      </p>
    </div>
  </div>
</body>
</html>
